
<div id="contact-container">
   <div id="close-div" class="clearfix col-md-12">
   <span class="close-the-div" data-dismiss="modal">X</span>
   </div>
    <form>
       <div class="modal-dialog">
        <div class="form-group">
            <label for="contactName">Name:</label>
            <input type="text" class="form-control" placeholder="Ted Williams">
        </div><!--/full name input -->
        <div class="form-group">
            <label for="contactEmail">Email:</label>
            <input type="text" class="form-control" placeholder="teddybearwilliams@starting9.com">
        </div>
        <div class="form-group">
            <label for="contactPhone">Phone Number:</label>
            <input type="tel" class="form-control" placeholder="555-555-5555">
        </div>
        <label for="contactPhone">Comment:</label>
        <div class="form-group">

            <textarea name="contactComment" rows="5" cols="50">Hey Joey, I was interested in your course!</textarea>
        </div>
        <button id="contact-submit" type="submit" class="btn btn-danger">Submit</button>
        </div>
    </form>
</div>
