<template name="footer">
    <footer class="footer">
        <div class="row">
            <div class="container">
               <ul class="footer-nav">
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Search Terms</a></li>
                    <li><a href="#">Orders and Returns</a></li>
                    <li><a href="{{pathFor 'contact-us'}}">Contact Us</a></li>
               </ul>
               <p id="copyright">All rights reserved. The Starting Lineup and/or its Affiliates. &copy;2016 The Starting Lineup Store.</p>
                
            </div>
        </div>
    </footer>
</template>