<template name="header">
    <header class="header">
        <div class="row top-banner">
            <div class="container">
                <div class="col-md-6 brand">
                    <div class="col-md-6"><a href="https://www.thestartinglineupstore.com/"><img src="/img/logo.png"></a></div>
                    <div class="col-md-6"></div>  
                </div><!--.brand-->
            </div><!--.container-->
        </div><!--top-banner-->
        {{> navbar}}
        <div class="row lower-banner col-md-12">

        </div><!--lower-banner-->  
    </header>
</template>