
<div class="form-box">
    <h2>Swing Architect Newsletter</h2>
    <hr />
    <form>
        <div class="form-group">
        <label for="fullName">Name:</label>
        <input type="text" class="form-control" placeholder="Ted Williams">
        </div><!--/full name input -->
        <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" placeholder="teddybearwilliams@starting9.com">
        </div>
        <button type="submit" class="btn btn-danger">Join Now!</button>
    </form>
    <p>We respect your <a href="http://www.aweber.com/permission.htm" target="_blank">email privacy</a>.</p>
</div><!--/.form-box -->