<div id="faqs">
    <h2>FAQs</h2>
    <h3>SUPPORT</h3>
    <p>The Starting Lineup prides itself on providing the best possible customer experience and support. If you have questions or need help, we recommend you first take a look at our comprehensive FAQ below for the quickest answers. If you can’t find the answers you are looking for in our FAQ, then please email us <a ui-sref="contact-us" target="_blank">HERE.</a></p>
    <p>A member of our Support Team will get back to you as soon as possible.</p>
    <p>If you would like to speak to a member of our Support Team via phone regarding an order, our services, or any other issue, please email us at the Contact link above. You will be called shortly after receiving your request. Please remember to include your telephone number, the reason for your inquiry and the best time to reach you.</p> 
    <h3>General Questions</h3>
    <!-- FAQS General Questions start -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is The Starting Lineup?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                  <p>Click here for the full <a ui-sref="about-us">ABOUT US</a>. Here is the short version:</p>
                  <p>The Starting Lineup (TSL) is a place where one can find "The 9 BEST Baseball Hitting Aids on the Planet." Each gadget has to pass the FOWL Ball litmus test, and their position in The Starting Lineup can be challenged by a proven superior product. TSL offers:</p>
                  <ul class="faq-bullets">
                      <li><i class="fa fa-check"></i> The creme of the crop hitting aids - where YOU get the BEST swing results,</li>
                      <li><i class="fa fa-check"></i> The FOWL Ball & Swing Smarter.com tip-of-the-cap product approval, AND</li>
                      <li><i class="fa fa-check"></i> The BEST service guaranteed.</li>
                  </ul>
                  <p>TSL caters to those close family members and coaches who want the best for their young competitive hitters. These tools can help every hitter at any age or level, from Little League to Professionals...one of the questions FOWL Ball asks for a gadget to make The Starting Lineup, is "Would a professional use this product to get better at his level?"</p>
              </div>
            </div>
          </div><!-- Question one -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is your "Best Price Guarantee?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                  <p>At TSL, we consistently survey competitive prices to make sure we bring our customers the best products at the best prices. Our Price Guarantee is as follows:</p>
                  <p>If you have already purchased from us and see a lower price for the same product within 30 days of your purchase, we will refund the full difference in price. If you find a better price after purchase, please send your The Starting Lineup receipt, the source of the lower price, the advertisement and advertised price <a class="animate-contact-form">HERE</a>. Remember, the total price should include shipping costs and any other applicable taxes or tariffs. You will receive a refund for the difference in price within 30 days of receipt and approval of your submission.</p>
                  <p>If you can find any product on our website for a lower price anywhere else, we will match the value of the competitive deal providing you can give us sufficient proof of the lower price as per the guidelines stated above.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  I heard we get free bonuses with my purchase...what are they?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Of course, if you purchase any one of The BEST Starting 9, then you get an all access pass for the 5 (there are EIGHT now!!) most sought after SwingSmarter.com content rich power packed mini-reports (a $97 value), in following:</p>
                <ul class="faq-bullets">
                    <li><i class="fa fa-check"></i> <strong>How to Grow a Super Athlete - </strong>this article was sent to me by one of my hitting lesson parents who received it from a Judo instructor...sheds insight into the inner workings of the brain and muscle memory for the laymen to understand,</li>
                    <li><i class="fa fa-check"></i> <strong>Swing Smarter Nutritional Plan - </strong>we wrote this based off a couple really good resources contributing to 85% of sound performance nutritional advice...more to come on this during the summer of 2010, so stay tuned to the SwingSmarter.com RSS feed.</li>
                    <li><i class="fa fa-check"></i> <strong>Scouting: What YOU Need to Know & How to Market YOUR Kid When Coaches Don’t - </strong>this was a forwarded email received from a good friend of mine who manages a Competitive Travel/Marketing/Tutoring/Player Development baseball training program called Team Avenue, Thomari played 8 years in the Dodgers organization...he received this email from a parent who used these simple strategies to much success with self-marketing her son.</li>
                    <li><i class="fa fa-check"></i> <strong><i>The Dugout</i>: Hitting Baseballs from the Neck Up! First 12 Issues Mental Hitting Power Report -</strong>at SwingSmarter.com we publish a popular online monthly magazine called The Dugout, where we share simple cerebral strategies to help any hitter at any age. This info. not only has helped players but parents and coaches as well. This is a culmination of the first year's worth of issues into one power packed report.</li>
                    <li><i class="fa fa-check"></i> <strong>The Power of Doing MORE with LESS - </strong>this mini-report is inspired by one of my favorite bloggers and author Leo Babauta (ZenHabits.net & his book <i>The Power of Less</i>). As any of you know our mantra at SwingSmarter.com is discriminating all the crap information and tools out there on hitting, and to eliminate the waste and keep the necessary. This mini-report really isn't about hitting, but clearing the mind, which has everything to do with hitting. Ted Williams said, "Hitting is 90% from the neck up."</li>
                </ul>
              </div>
            </div>
          </div><!--end question three -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  Does The Starting Lineup have a Privacy Policy?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                  <p>Yes, <a ui-sref="privacy-policy">CLICK HERE</a> to view our Privacy Policy.</p>
              </div>
            </div>
          </div><!-- end question four -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  How can I contact The Starting Lineup with a question or my feedback?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                Please send an email through this <a class="animate-contact-form">link</a>. You can now also contact us toll free at +1 (888) 868-5002!
              </div>
            </div>
          </div><!-- end question five -->
        </div><!-- end of question drop down -->
        <h3>Orders, Shipping, and Support</h3>
        <!-- Orders shipping support start -->
        <div class="panel-group" id="supportAccordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportOne" aria-expanded="true" aria-controls="supportOne">
                  What methods of payment do you accept?
                </a>
              </h4>
            </div>
            <div id="supportOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingOne">
              <div class="panel-body">
                  <p>TSL accepts most credit cards and online payment accounts for orders through our website, including the following: Visa, MasterCard, and Discover. Unfortunately we DO NOT accept AMEX at this time.  All sales on the TSL website are made in U.S. currency. We also do accept purchase orders from qualified entities, as well as payment by check...however, please allow 5-7 business days for personal/business checks to clear before we process the order. We supply all necessary documentation to deal with purchasing department requirements.</p>
              </div>
            </div>
          </div><!-- Support one -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportTwo" aria-expanded="false" aria-controls="supportTwo">
                  Are your transactions secure? What do you do to insure security of my personal and financial information?
                </a>
              </h4>
            </div>
            <div id="supportTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingTwo">
              <div class="panel-body">
                  <p>All online transactions are processed through a secure server. The Starting Lineup incorporates Secure Socket Layer (SSL) encryption technology with 128-bit encryption to ensure the security of your personal and financial data.</p>
                  <a href="http://payjunction.com" target="_blank"><img border="0" src="/img/creditcards99.gif" /></a>
              </div>
            </div>
          </div><!--support two -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportThree" aria-expanded="false" aria-controls="supportThree">
                  Where do I redeem my coupon, promotional code or discount offer?
                </a>
              </h4>
            </div>
            <div id="supportThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingThree">
              <div class="panel-body">
                <p>To redeem any discount or promotional offer, please add the product you want to your cart first and then proceed to checkout. You can redeem any offer for discount by entering the code in the field provided on the checkout page. This field will be on the same page where you enter your payment/credit card information.</p>
              </div>
            </div>
          </div><!--end support three -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingFour">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportFour" aria-expanded="true" aria-controls="supportFour">
                  Can I buy OR place orders via telephone?
                </a>
              </h4>
            </div>
            <div id="supportFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingFour">
              <div class="panel-body">
                  <p>Yes, to set up a <a class="animate-contact-form">call email here</a> and a dedicated representative will call you shortly after receiving your request. You must include your telephone number, what products you are interested in purchasing, the reason for your inquiry and the best time to reach you.</p>
                  <p>We now have a toll free 800 number you can call and leave a detailed message: 1(888) 868-5002</p>
              </div>
            </div>
          </div><!-- end support four -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingFive">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportFive" aria-expanded="true" aria-controls="supportFive">
                  How can I get free shipping?
                </a>
              </h4>
            </div>
            <div id="supportFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingFive">
              <div class="panel-body">
                <p>There's FREE shipping to all US addresses. For all US orders, each product may vary on which shipping service is used, but most of them utilize UPS, and others use good ol' fashion USPS, and a few still use FEDEX.</p>
              </div>
            </div>
          </div><!-- end question five -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingSix">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportSix" aria-expanded="true" aria-controls="supportSix">
                  What are your shipping policies?
                </a>
              </h4>
            </div>
            <div id="supportSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingSix">
              <div class="panel-body">
                <p>PLEASE NOTE: The Starting Lineup is a DROP SHIPPER, we do NOT carry inventory.  How does this work?  When we get an order, we email the supplier, and they typically ship within 2-3 business days.  PLEASE NOTE: there are some vendors who build their product upon receiving an order from us, and may take 5-7 business days to ship, so please be patient.  They do this to keep your cost down.</p>
                <p>As soon as our email goes out, then you'll get an "Awaiting Shipment" email from us.  We then pass along the tracking information from the supplier as soon as we get it, to you, via email.</p>
                <p>Most domestic orders are shipped using UPS Ground. We aim to ship your order on the day that it is received (from 2 business days, up to 7) and processed with the following exceptions: orders received during weekends, holidays, or from December through February may be slightly delayed.</p>
                <p>There are times of the year such as December through February our suppliers "guess" at how many products to keep in inventory, but unfortunately cannot see into the future and orders may be delayed during this time because of lower than thought of inventory.</p>
                <p>Please note that our shipping policy may change from time to time – should our shipping policy change, so check in regularly before ordering.</p>
              </div>
            </div>
          </div><!-- end question six -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingSeven">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportSeven" aria-expanded="true" aria-controls="supportSeven">
                  Do you ship anywhere in the world?
                </a>
              </h4>
            </div>
            <div id="supportSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingSeven">
              <div class="panel-body">
                  <p>We only ship domestically within the US at this time.</p>
              </div>
            </div>
          </div><!-- end question seven -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingEight">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportEight" aria-expanded="true" aria-controls="supportEight">
                  Can you do overnight/rush-shipping?
                </a>
              </h4>
            </div>
            <div id="supportEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingEight">
              <div class="panel-body">
                  <p>Yes - if you need your order rushed to you, we can ship it via overnight courier if we receive it by 10 AM Pacific Standard Time. We will add the cost of Rush service to your order and charge the amount directly to your credit card. For Rush Shipping please notify us well in advance, and email us here with your order ID and delivery requirements and we will get you your order as fast as possible.</p>
              </div>
            </div>
          </div><!-- end question eight -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingNine">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportNine" aria-expanded="true" aria-controls="supportNine">
                  Can I track my shipment?
                </a>
              </h4>
            </div>
            <div id="supportNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingNine">
              <div class="panel-body">
                  <p>Yes, you should receive shipment and tracking information once your order is deemed shipped, however if that email goes missing, then please email us here and we will send you your shipment status and tracking information.</p>
                  <p>If you haven't received tracking within 2-7 business days of your order, then please email us, otherwise we probably haven't received it from the supplier yet.</p>
              </div>
            </div>
          </div><!-- end question nine -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="supportHeadingTen">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#supportAccordion" href="/#supportTen" aria-expanded="true" aria-controls="supportTen">
                  What is your Return Policy?
                </a>
              </h4>
            </div>
            <div id="supportTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingTen">
              <div class="panel-body">
                  <p>All of the products sold directly on The Starting Lineup website are 30 days money back guaranteed only in the case the product is defective (broken, unusable, otherwise physically defective).</p>
                  <p>Something to keep in mind...</p>
                  <p>Please note: in the case of allowable returns for money back, some product manufacturers may require a 15% "restocking fee," the buyer will be responsible for repackaging, shipping, insurance (on electronics), handling, and very few may require a 5% "cancellation fee."</p>
                  <p>However, we don't see the preceding to apply because the products we carry are the BEST and we know you'll love them, but nevertheless, we have to spell it out in case of the outlier. If, in the event, you come across something defective, then PLEASE do NOT throw away the original packing materials, this will at least save some time and money in the return process.</p>
                  <p>Most of the times, the manufacturer can fix the problem over the phone, or send out a much needed part.  These manufacturers are wicked smart and handy, in case of a defective product, use them as a resource...we may not have to shell out the added expense after all.  Email us and we'll get you their contact information.</p>
              </div>
            </div>
          </div><!-- end question ten -->
    </div><!-- order shipping and support end -->
    <h3>Tehcnical/Website</h3>
    <div class="panel-group" id="webAccordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="webHeadingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#webAccordion" href="/#webOne" aria-expanded="true" aria-controls="webeOne">
              What is a .pdf? How can I view a .pdf file?
            </a>
          </h4>
        </div>
        <div id="webOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="webHeadingOne">
          <div class="panel-body">
            <p>A PDF file (PDF stands for "portable document format") is one created by Adobe's Acrobat software. It displays text in a reader-friendly format. The Adobe Acrobat Reader software is free!</p>
            <a href="https://get.adobe.com/reader/" target="_blank"><button class="btn btn-danger">Download it Here</button></a>
          </div>
        </div>
      </div>
    </div>
</div><!-- faq container -->   
