
<div id="about-container">
    <h2>About Us</h2>
    <p>The Starting Lineup is a prestigious collection of the 9 Best Baseball Hitting Aids on the Planet. Each gadget is hand selected by the hitting-wise SwingSmarter.com mascot FOWL Ball using the 80/20 Principal as it applies to the baseball swing, 20% of hitting aids out there contribute to 80% success to a hitter. Don't let FOWL Ball fool you though, he's got a lot more brain than he has brawn ;)</p>
    <p>Each hitting aid is subject to a litmus test and subjective decision of FOWL Ball to decide whether the tool is worthy of such a prominant place in such a distinguished team lineup. Also, the fun part...</p>
    <p>Each aid will be consistently jockeying for its position, and can get its job taken away anytime by another hitting aid proving more dominant, just like in a real competitive team lineup. So, the "players" need to have superb work ethic in order to "keep" their spot in The Starting Lineup.</p>
    <p>Now, FOWL Ball doesn't stop there...</p>
    <p>Most importantly, he explains the "why" behind each hitting aid's nomination, and how to use it constructively (with video) because sometimes a hitting aid tool can resemble a paper weight (and in the case of a few of his current selections, a HUGE paper weight), if we don't know how to use it correctly.</p>
    <p>In addition, with a purchase of one of The BEST Starting 9 you'll get access to EIGHT of the follwing content rich & power packed SwingSmarter SUPER Mini-Reports for FREE (a $300 value):</p>

    <eight-free-bonuses></eight-free-bonuses>

    <p>We'll be periodically adding more FREE mini-reports to future purchases as they come available, so stay tuned...</p>
    <p>If you want to know more about the Swing Smarter Team and FOWL Ball, then you can visit <a href="http://www.swing-smarter-baseball-hitting-drills.com/joey-myers.html" target="_blank">SwingSmarter.com Meet The Team</a>. If you want to initiate a Challenge to one of The Starting 9, then you can visit this <a href="http://www.swing-smarter-baseball-hitting-drills.com/baseball-hitting-equipment.html" target="_blank">Swing Smarter interactive link.</a></p>
    <p>Thank you for shopping with SwingSmarter.com and making The Starting Lineup possible :)</p>
</div>

