
    <div id="eight-free-bonuses">
        <h2>8 FREE Bonuses!!</h2>   
        <p>You also get EIGHT Free Power Packed Bonuses for purchasing any one of these 9 best pieces of baseball hitting equipment on the planet...</p>
        <p>What are the BONUSES?</p>
        <eight-free-bonuses></eight-free-bonuses>
        <p>The only catch (pardon the pun) to receive these no-cost high powered bonuses is subscribing to SwingSmarter.com's (our parent site) Newsletter, The Dugout.  Not only will you gain access to the above FREE Bonuses, but you'll also be automatically included in the Exclusive Early Bird Discount List...when new products become available, you'll be the first to jump on them at a super bargain price before they hit the mainstream market.  You can always unsubscribe at any time.</p>
        <p>Where will you find the link to sign up? </p>
        <p>After your purchase, you'll receive an invoice via email, and in that email is a link to a special The Starting Lineup Store customer page to subscribe located on SwingSmarter.com.</p>
        <p>Oh yeah, I almost forgot, AND you'll receive a Refer a Friend $10 OFF Coupon Code for ordering too, where you can give it as a gift to one OR a few of your closest personal friends/family members.  However, you DO NOT get all these BONUSES unless you subscribe.  Also note, these Bonuses are ONLY available to The Starting Lineup Store customers, NOT to our normal SwingSmarter.com subscribers...in other words, you guys get special uber-treatment. </p>
        <p>If you purchase something from the store and never receive the link, then please Contact Us immediately and we'll send it to you :)  Thanks so much for checking us out!</p>
    </div>